
/*font-family: */
/*dark grey/black #2B2B2B*/
/*light grey #CACACA*/
/*other light grey #EFEFEF*/
/*blue color for links maybe and numbers */

$font-stack: 'Brygada 1918', serif;
$font-other: 'Poppins', sans-serif;

body {
  background: #EFEFEF;
  font-family: $font-other;
}

.card-body {

  &__item {

    &--name {
      font-size: 1em;
    }

    &--date {
      font-size: .8em;
      font-weight: lighter;
    }

    &--link {
      margin: 10px;
      background: #CACACA;
    }
  }
}
