
/*font-family: */
/*dark grey/black #2B2B2B*/
/*light grey #CACACA*/
/*other light grey #EFEFEF*/
/*blue color for links maybe and numbers */

$font-stack: 'Brygada 1918', serif;
$font-other: 'Montserrat', sans-serif;

body {
  background: #EFEFEF;
  font-family: $font-other;
}


.container {
  margin: 0 auto;
}

.login {
  background: #2B2B2B;
  color: white;
  font-weight: 400;
  width: 100%;
  height: 100px;
  text-align: right;
  padding: 20px;
}

.fa-play {
  color: cornflowerblue;
}

.card-body {

  &__item {

    &--name {
      font-size: 1em;
    }

    &--date {
      font-size: .8em;
      font-weight: lighter;
    }

    &--link {
      margin: 10px;
      background: #CACACA;
    }
  }
}
